body {
background-color: rgb(104,187,185);
font-size: 20px;
}

h1 {
text-align: center;
}

#left-box {
float: left;
background-color: rgb(9,30,45);
color: white;
width: 500px;
clear: right;
}

#right-box {
position: relative;
margin-left: 30%;
}

#experiences-box {
background-color: white;
}

#studies-box {
background-color: white;
}

img {
	text-align: center;
    max-width: 10%;
    height: auto;
}
